@{
    ViewData["Title"] = "File Watcher";
}

<h2>Sledování souborů</h2>

<input type="text" id="path" value="~/data">
<button id="checkChanges">Zkontrolovat změny</button>
<div id="log"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#checkChanges").click(function () {
        $.post("/FileChecker/CheckFileChanges?dataFolderPath=" + $("#path").val() , function (data) {
            $("#log").html(data.messages.join("<br>"));
        });
    });
</script>